# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Virtual environment
venv/
.env
*.env

# Logs
logs/
*.log

# Playwright cache
ms-playwright/

#Ferent key
fernet.key

#Database-related files
*.sqlite
*.sqlite3
